.site-header-wrapper {
    width: 100vw;
    height: 65px;
    background: linear-gradient(180deg, rgb(127, 182, 252), rgb(55, 141, 251) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
}

.site-header__text {
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 65px;
}

.site-header__logo {
    display: none;
}

.site-header__girls {
    display: none;
    margin: auto;
    width: 470px;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
}

.site-header__girl-wrapper {
    margin: auto;
    width: 95px;
    height: 130px;
    position: relative;
    display: block;

    &::after {
        content: "online";
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
        background: #85B11A;
        line-height: 20px;
    }
}

.site-header__girl-img {
    width: 95px;
    height: 130px;

}

.site-header__login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login__text {
    display: none;
    margin-top: 6px;
    font-style: normal;
    font-weight: normal;

    a {
        padding-left: 15px;
        font-weight: bold;
        text-decoration-line: underline;
    }
}

@media (min-width: $breakpoint-m) {
    .site-header-wrapper {
        height: 100px;
    }

    .site-header__text {
        display: none;
    }

    .site-header__logo {
        display: block;
        width: 216px;
        height: 53px;
    }

    .login__btn {
        width: 175px;
        height: 47px;
        line-height: 47px;
        font-size: 16px;
    }

    .login__text {
        display: block;
        font-size: 14px;
    }

}

@media (min-width: $breakpoint-l) {
    .site-header-wrapper {
        height: 170px;
    }
    .site-header__girls {
        display: flex;
    }
}