.gallery {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: auto;

}

.gallery__item {
    width: 190px;
    height: 263px;
    margin: 0;
    padding: 5px;
    position: relative;
}

.gallery__item_card {
    width: 180px;
    height: 253px;
    margin: 0;
}

.gallery__item_info {
    position: absolute;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    bottom: 66px;
    left: calc(50% - 28px);
}
.gallery__item_btn{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 30px;
    left: calc(50% - 50px);
}

@media (min-width: $breakpoint-m) {
    .gallery__item {
        width: 330px;
        height: 468px;
    }
    .gallery__item_card{
        width: 320px;
        height: 458px;        
    }
}