.gallery {
    margin: 25px auto 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: auto;

}

.gallery__item {
    width: 180px;
    height: 253px;
    position: relative;
    overflow: hidden;
    background: #000000;
    margin: 0 5px 25px;
}

.gallery__item-card {
    width: 180px;
    height: 253px;
    transition: all 0.5s;
    &:hover {
        opacity: 0.7;
        transform: scale(1.05);    
    }
}

.gallery__item-short-info {
    position: absolute;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    bottom: 66px;
    left: calc(50% - 28px);
}
.gallery__item-btn{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 30px;
    left: calc(50% - 50px);
}
.gallery__item-btn--big{
    display: none;
}
@media (min-width: $breakpoint-m) {
    .gallery__item {
        width: 320px;
        height: 458px;
    }
    .gallery__item-card{
        width: 320px;
        height: 458px;        
    }

    .gallery__item-btn{
        bottom: 20px;
        left: calc(50% - 88px);
    }
    .gallery__item-btn--big{
        display: block;
    }
    .gallery__item-btn--small{
        display: none;
    }
}
@media (min-width: $breakpoint-l) {
    .gallery{
        margin-top: 0;
    }
}