@import "variables.scss";
@import "container.scss";
@import "header.scss";
@import "filter.scss";

* {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    // position: relative;
    padding: 0;
    margin: auto;
    border: 0;
    box-sizing: border-box;
    text-align: center;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

body {
    background: #f9f9f9;
    line-height: 1;
    color: black;
}

